<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="LocalCLP" value="../CLP/build/dotnet/packages" />
        <add key="LocalGLOP" value="../GLOP/build/dotnet/packages" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>